.container-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.container-form > form > input#url-jenkins-input {
    width: 80vw;
    outline: none;
    border: none;
    height: 40px;
    line-height: 40px;;
    box-shadow: 1px 1px 3px rgb(119, 119, 119);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.container-form > form > input#login-jenkins-input {
    width: 25vw;
    outline: none;
    border: none;
    height: 40px;
    line-height: 40px;;
    box-shadow: 1px 1px 3px rgb(119, 119, 119);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.container-form > form > input#password-jenkins-input {
    width: 25vw;
    outline: none;
    border: none;
    height: 40px;
    line-height: 40px;;
    box-shadow: 1px 1px 3px rgb(119, 119, 119);
    padding-left: 10px;
    padding-right: 10px;
}

.container-form > form > button {

    line-height: 40px;
    border: none;
    outline: none;
    margin-left: 15px;
    padding: 0px 30px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgb(119, 119, 119);
    background-color: #333;
    color: #fff;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 17px;
}

.desc > p {
    color: #333;
    font-size: 17px;
}