.container-project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.project-box {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.status {
    padding: 14px 20px;
    color: #fff;
    font-weight: 500;
}

.project-name {
    padding: 14px 20px;
    background: #333;
    color: #fff;
    letter-spacing: 0.3px;;
}

a.navigate-url {
    text-decoration: none;
    color: black;
    background: #ddd;
    padding: 14px 30px;
    cursor: pointer;
}

div.loader {
    text-align: center;
}

div.loader > img {
    width: 20%;
}

